local/templates/main/tpl/src/templates/blocks/footer-main.pug
footer.footer.footer--main.footer--fixed
    div.container
        div.footer__inner
            div.footer__projects
                a.footer__projects-link.scroll.link(href='#works') Смотреть проекты
                    span.footer__projects-anim
            div.welcome__right-block.footer__right-block
                div.footer__links
                    a.footer__link(href='https://facebook.com') Facebook
                    a.footer__link(href='https://facebook.com') Behance
                a.footer__download.link(href='assets/files/presentation.pdf') Скачать презентацию

local/templates/main/tpl/dist/blocks/footer-main.html

<footer class="footer footer--main footer--fixed">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__projects"><a class="footer__projects-link scroll link" href="#works">Смотреть проекты<span class="footer__projects-anim"></span></a></div>
      <div class="welcome__right-block footer__right-block">
        <div class="footer__links"><a class="footer__link" href="https://facebook.com">Facebook</a><a class="footer__link" href="https://facebook.com">Behance</a></div><a class="footer__download link" href="assets/files/presentation.pdf">Скачать презентацию</a>
      </div>
    </div>
  </div>
</footer>
