local/templates/main/tpl/src/templates/blocks/header.pug
header.header
    div.container
        div.header__row
            div.header__logo
                a.link.animated-logo(href='index.html')
                    span.animated-word d
                    span.animated-word e
                    span.animated-word u
                    span.animated-word s
            div.header__links
                nav.header__nav
                    a.link.header__nav-link.ajax-load(href='works.html') Кейсы
                    a.link.header__nav-link.ajax-load(href='about.html') О нас
                    a.link.header__nav-link.ajax-load(href='about.html#services') Услуги
                    a.link.header__nav-link.ajax-load(href='contacts.html') Контакты
                div.header__phone.header__button
                    a.link.header__nav-link(href='tel:+74951034351') +7 495 103 43 51
                div.header__socials
                    a(href="#").header__soc-link Facebook
                    a(href="#").header__soc-link Behance
                a(href="#").header__download Скачать презентацию
                div.header__copyright
                    | ©Deus. 2018 <br/>
                    | Made in Russia with Love.
            div.header__burger
                div.header__burger-line
                div.header__burger-line
                div.header__burger-line
div.preloader
    div.preloader__container
        div.preloader__line.preloader-line.-loading

local/templates/main/tpl/dist/blocks/header.html

<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__logo"><a class="link animated-logo" href="index.html"><span class="animated-word">d</span><span class="animated-word">e</span><span class="animated-word">u</span><span class="animated-word">s</span></a></div>
      <div class="header__links">
        <nav class="header__nav"><a class="link header__nav-link ajax-load" href="works.html">Кейсы</a><a class="link header__nav-link ajax-load" href="about.html">О нас</a><a class="link header__nav-link ajax-load" href="about.html#services">Услуги</a><a class="link header__nav-link ajax-load" href="contacts.html">Контакты</a></nav>
        <div class="header__phone header__button"><a class="link header__nav-link" href="tel:+74951034351">+7 495 103 43 51</a></div>
        <div class="header__socials"><a class="header__soc-link" href="#">Facebook</a><a class="header__soc-link" href="#">Behance</a></div><a class="header__download" href="#">Скачать презентацию</a>
        <div class="header__copyright">
          ©Deus. 2018 <br/>
          Made in Russia with Love.
        </div>
      </div>
      <div class="header__burger">
        <div class="header__burger-line"></div>
        <div class="header__burger-line"></div>
        <div class="header__burger-line"></div>
      </div>
    </div>
  </div>
</header>
<div class="preloader">
  <div class="preloader__container">
    <div class="preloader__line preloader-line -loading"></div>
  </div>
</div>
