local/templates/main/tpl/src/templates/about.pug
extends layout

block vars
	- var bodyClass = '-page-about'

block title
	title About us

block header
	include blocks/header

block content
	div.about
		section.s-section.s-section--about
			div.container
				aside.sideblock
					h4.about__text Мы - это интерактивное агентство, которое разрабатывает персональные решения для коммуникации бренда в Интернете.
				div.content-wrapper
					div.s-content__text
						p.s__describe
							| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
							| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
							| и государственных учреждений.
							| <br/><br/>
							| Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
							| Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
							| и государственных учреждений.
						div.about__digits
							div.about__digit-item
								div.about__digit.counter.counter-default 40
								div.about__digit-text Место рейтинг креативности веб-студий Москвы
							div.about__digit-item
								div.about__digit.counter 80
								div.about__digit-text Место рейтинг разработчиков Mobile Friendly сайтов
							div.about__digit-item
								div.about__digit.counter 39
								div.about__digit-text Выполненных проектов
							div.about__digit-item
								div.about__digit.counter 2
								div.about__digit-text Офис в Москве и Екатеринбурге
		section.s-section.s-section--honors
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Награды
						p.s__describe Наша работа не остается
							| не замеченной. За 3 года
							| мы собрали большую коллекцию международных наград.&nbsp;
							span.color-green.bold Awwwards,
							span.color-blue.bold CSS Design Awards,
							span.color-red.bold CSS Winner...
						div.s-section__nav.s-arrows
				div.content-wrapper
					div.s-content__text
						div.h-slider
							div.h-slider__scene.owl-carousel
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Honors Mension
												img(src='assets/images/content/honor1.png').h-card__image
											div.h-card__title
												a(href="#").color-green Honors Mension
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
											div.h-card__title
												a(href="#").color-blue Special Kusos
								div.h-slider__slide
									div.h-slider__card
										div.h-card
											div.h-card__image-wrapper
												div.h-card__title
													a(href="#") Special Kusos
												img(src='assets/images/content/honor2.png').h-card__image
											div.h-card__title
												a(href="#").color-red Special Kusos
		section.s-section.s-section--services#services
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Услуги
						p.s__describe Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
				div.content-wrapper
					div.serv-list
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Разработка
							p.serv-item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс
						div.serv-item
							h3.serv-item__title Support
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Маркетинг
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Дизайн
							p.serv-item__text Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции
						div.serv-item
							h3.serv-item__title Разработка
							p.serv-item__text Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс и решений для электронной коммерции
		section.s-section.s-section--clients
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Клиенты
						p.s__describe Мы помогаем находить идеи, в которые верим без сомнения. Честные отношения с клиентом помогают нам в этом.
				div.content-wrapper
					div.s-content__text
						div.clients-slider
							div.c-slider__scene.owl-carousel
								div.c-slider__slide
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients1.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients2.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients4.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients5.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients6.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients7.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients8.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients9.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients10.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients11.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients12.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients1.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients2.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients3.png").clients-item__img
								div.c-slider__slide
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients4.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients5.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients6.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients7.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients8.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients9.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients10.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients11.png").clients-item__img
									div.clients-item
										a.clients-item__link
											img(src="assets/images/content/clients12.png").clients-item__img
		section.s-section.s-section--form#s-callback
			div.container
				aside.sideblock
					div.s-content__text
						div.s__caption
							h2 Готовы сотрудничать?
						p.s__describe Мы будем рады приложить все имеющиеся навыки и знания для комплексного создания и успешного развития вашего проекта или стартапа.
				div.content-wrapper
					div.s-content__text
						div.c-form
							form.c-form__form.validate#callback
								div.c-form__line
									div.c-form__input.c-form__input--half
										input(type="text" name='name' id="orderName").c-form__input-field
										label(for="orderName").c-form__input-label
											span.c-form__input-label-content Как Вас зовут, друг?

									div.c-form__input.c-form__input--half
										input(type="text" name='phone' id="orderPhone").c-form__input-field.mask--phone
										label(for="orderPhone").c-form__input-label
											span.c-form__input-label-content Ваш телефон:
								div.c-form__line
									div.c-form__input.c-form__input--half
										input(type="text" name='mail' id="orderMail").c-form__input-field
										label(for="orderMail").c-form__input-label
											span.c-form__input-label-content E-mail:
									div.c-form__input.c-form__input--half
										div.c-form__input-field.c-form__input-file
											div.dZUpload.dz-clickable#dZUpload
												div.dz-default.dz-message Выберите файл
													div.dz-icon
														<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M0.856237 8.7963C0.38055 8.7963 9.53674e-07 9.16667 9.53674e-07 9.62963V14.1667C9.53674e-07 14.6296 0.38055 15 0.856237 15H14.1121C14.5877 15 15 14.6296 15 14.1667V9.62963C15 9.16667 14.5877 8.7963 14.1121 8.7963C13.6364 8.7963 13.2558 9.16667 13.2558 9.62963V13.3025H1.71247V9.62963C1.71247 9.16667 1.33192 8.7963 0.856237 8.7963Z" fill="#0000FF"/>
														<path d="M8.08667 10.679L11.575 7.28395C11.9239 6.94444 11.9239 6.45062 11.575 6.11111C11.2262 5.77161 10.7188 5.77161 10.37 6.11111L8.34037 8.05556V0.833333C8.34037 0.37037 7.95982 0 7.48413 0C7.00845 0 6.6279 0.37037 6.6279 0.833333V8.05556L4.63001 6.11111C4.28117 5.77161 3.74206 5.77161 3.39322 6.11111C3.04439 6.45062 3.04439 6.94444 3.39322 7.28395L6.8816 10.679C7.04016 10.8333 7.26215 10.9259 7.48413 10.9259C7.70612 10.9259 7.92811 10.8333 8.08667 10.679Z" fill="#0000FF"/>
														</svg>

										//input(type="text" placeholder='Прикрепить файл:' name='fileupload').c-form__input-field.c-form__input-field--half
								div.c-form__line
									div.c-form__input
										input(type="text" name='message' id="orderMessage").c-form__input-field
										label(for="orderMessage").c-form__input-label
											span.c-form__input-label-content Опишите свой вопрос
								div.c-form__bottom
									//div.c-form__bottom-half
										input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
										label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
									a(type='submit' role="button").btn.btn--arrow.c-form__link Отправить
										span.arrow_icon
											<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>

block footer
	include blocks/footer

local/templates/main/tpl/dist/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/fancybox.css">
    <link rel="stylesheet" href="assets/css/lib/lightbox.css">
    <link rel="stylesheet" href="assets/css/lib/mcustomscrollbar.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
    <link rel="stylesheet" href="assets/css/lib/dropzone.css">
    <link rel="stylesheet" href="assets/css/lib/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/lib/swiper.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <!-- script(src='assets/js/lib/pace.min.js')-->
  </head>
  <body class="-loading -hide-footer -page-about">
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__row">
            <div class="header__logo"><a class="link animated-logo" href="index.html"><span class="animated-word">d</span><span class="animated-word">e</span><span class="animated-word">u</span><span class="animated-word">s</span></a></div>
            <div class="header__links">
              <nav class="header__nav"><a class="link header__nav-link ajax-load" href="works.html">Кейсы</a><a class="link header__nav-link ajax-load" href="about.html">О нас</a><a class="link header__nav-link ajax-load" href="about.html#services">Услуги</a><a class="link header__nav-link ajax-load" href="contacts.html">Контакты</a></nav>
              <div class="header__phone header__button"><a class="link header__nav-link" href="tel:+74951034351">+7 495 103 43 51</a></div>
              <div class="header__socials"><a class="header__soc-link" href="#">Facebook</a><a class="header__soc-link" href="#">Behance</a></div><a class="header__download" href="#">Скачать презентацию</a>
              <div class="header__copyright">
                ©Deus. 2018 <br/>
                Made in Russia with Love.
              </div>
            </div>
            <div class="header__burger">
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="about">
          <section class="s-section s-section--about">
            <div class="container">
              <aside class="sideblock">
                <h4 class="about__text">Мы - это интерактивное агентство, которое разрабатывает персональные решения для коммуникации бренда в Интернете.</h4>
              </aside>
              <div class="content-wrapper">
                <div class="s-content__text">
                  <p class="s__describe">
                    Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
                    Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
                    и государственных учреждений.
                    <br/><br/>
                    Мы уверены, что проекты делают не компании, а люди. Поэтому особое внимание уделяем формированию команды и построению процесса работы над проектом.
                    Наша команда имеет многолетний опыт работы на различных задачах из многих секторов экономики, от небольших start-up проектов до крупных финансовых
                    и государственных учреждений.
                  </p>
                  <div class="about__digits">
                    <div class="about__digit-item">
                      <div class="about__digit counter counter-default">40</div>
                      <div class="about__digit-text">Место рейтинг креативности веб-студий Москвы</div>
                    </div>
                    <div class="about__digit-item">
                      <div class="about__digit counter">80</div>
                      <div class="about__digit-text">Место рейтинг разработчиков Mobile Friendly сайтов</div>
                    </div>
                    <div class="about__digit-item">
                      <div class="about__digit counter">39</div>
                      <div class="about__digit-text">Выполненных проектов</div>
                    </div>
                    <div class="about__digit-item">
                      <div class="about__digit counter">2</div>
                      <div class="about__digit-text">Офис в Москве и Екатеринбурге</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="s-section s-section--honors">
            <div class="container">
              <aside class="sideblock">
                <div class="s-content__text">
                  <div class="s__caption">
                    <h2>Награды</h2>
                  </div>
                  <p class="s__describe">
                    Наша работа не остаетсяне замеченной. За 3 года
                    мы собрали большую коллекцию международных наград.&nbsp;<span class="color-green bold">Awwwards,</span><span class="color-blue bold">CSS Design Awards,</span><span class="color-red bold">CSS Winner...</span>
                  </p>
                  <div class="s-section__nav s-arrows"></div>
                </div>
              </aside>
              <div class="content-wrapper">
                <div class="s-content__text">
                  <div class="h-slider">
                    <div class="h-slider__scene owl-carousel">
                      <div class="h-slider__slide">
                        <div class="h-slider__card">
                          <div class="h-card">
                            <div class="h-card__image-wrapper">
                              <div class="h-card__title"><a href="#">Honors Mension</a></div><img class="h-card__image" src="assets/images/content/honor1.png">
                            </div>
                            <div class="h-card__title"><a class="color-green" href="#">Honors Mension</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="h-slider__slide">
                        <div class="h-slider__card">
                          <div class="h-card">
                            <div class="h-card__image-wrapper">
                              <div class="h-card__title"><a href="#">Special Kusos</a></div><img class="h-card__image" src="assets/images/content/honor2.png">
                            </div>
                            <div class="h-card__title"><a class="color-blue" href="#">Special Kusos</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="h-slider__slide">
                        <div class="h-slider__card">
                          <div class="h-card">
                            <div class="h-card__image-wrapper">
                              <div class="h-card__title"><a href="#">Special Kusos</a></div><img class="h-card__image" src="assets/images/content/honor2.png">
                            </div>
                            <div class="h-card__title"><a class="color-red" href="#">Special Kusos</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="s-section s-section--services" id="services">
            <div class="container">
              <aside class="sideblock">
                <div class="s-content__text">
                  <div class="s__caption">
                    <h2>Услуги</h2>
                  </div>
                  <p class="s__describe">Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений</p>
                </div>
              </aside>
              <div class="content-wrapper">
                <div class="serv-list">
                  <div class="serv-item">
                    <h3 class="serv-item__title">Дизайн</h3>
                    <p class="serv-item__text">Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции</p>
                  </div>
                  <div class="serv-item">
                    <h3 class="serv-item__title">Разработка</h3>
                    <p class="serv-item__text">Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс</p>
                  </div>
                  <div class="serv-item">
                    <h3 class="serv-item__title">Support</h3>
                    <p class="serv-item__text">Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции</p>
                  </div>
                  <div class="serv-item">
                    <h3 class="serv-item__title">Маркетинг</h3>
                    <p class="serv-item__text">Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции</p>
                  </div>
                  <div class="serv-item">
                    <h3 class="serv-item__title">Дизайн</h3>
                    <p class="serv-item__text">Проектирования и дизайн сайтов, и мобильных приложений, сервисов и решений для электронной коммерции</p>
                  </div>
                  <div class="serv-item">
                    <h3 class="serv-item__title">Разработка</h3>
                    <p class="serv-item__text">Backend и Frontend разработка интернет-проектов любой сложности на платформе 1С-Битрикс и решений для электронной коммерции</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="s-section s-section--clients">
            <div class="container">
              <aside class="sideblock">
                <div class="s-content__text">
                  <div class="s__caption">
                    <h2>Клиенты</h2>
                  </div>
                  <p class="s__describe">Мы помогаем находить идеи, в которые верим без сомнения. Честные отношения с клиентом помогают нам в этом.</p>
                </div>
              </aside>
              <div class="content-wrapper">
                <div class="s-content__text">
                  <div class="clients-slider">
                    <div class="c-slider__scene owl-carousel">
                      <div class="c-slider__slide">
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients1.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients2.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients3.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients4.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients5.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients6.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients7.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients8.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients9.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients10.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients11.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients12.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients1.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients2.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients3.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients3.png"></a></div>
                      </div>
                      <div class="c-slider__slide">
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients4.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients5.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients6.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients7.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients8.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients9.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients10.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients11.png"></a></div>
                        <div class="clients-item"><a class="clients-item__link"><img class="clients-item__img" src="assets/images/content/clients12.png"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="s-section s-section--form" id="s-callback">
            <div class="container">
              <aside class="sideblock">
                <div class="s-content__text">
                  <div class="s__caption">
                    <h2>Готовы сотрудничать?</h2>
                  </div>
                  <p class="s__describe">Мы будем рады приложить все имеющиеся навыки и знания для комплексного создания и успешного развития вашего проекта или стартапа.</p>
                </div>
              </aside>
              <div class="content-wrapper">
                <div class="s-content__text">
                  <div class="c-form">
                    <form class="c-form__form validate" id="callback">
                      <div class="c-form__line">
                        <div class="c-form__input c-form__input--half">
                          <input class="c-form__input-field" type="text" name="name" id="orderName">
                          <label class="c-form__input-label" for="orderName"><span class="c-form__input-label-content">Как Вас зовут, друг?</span></label>
                        </div>
                        <div class="c-form__input c-form__input--half">
                          <input class="c-form__input-field mask--phone" type="text" name="phone" id="orderPhone">
                          <label class="c-form__input-label" for="orderPhone"><span class="c-form__input-label-content">Ваш телефон:</span></label>
                        </div>
                      </div>
                      <div class="c-form__line">
                        <div class="c-form__input c-form__input--half">
                          <input class="c-form__input-field" type="text" name="mail" id="orderMail">
                          <label class="c-form__input-label" for="orderMail"><span class="c-form__input-label-content">E-mail:</span></label>
                        </div>
                        <div class="c-form__input c-form__input--half">
                          <div class="c-form__input-field c-form__input-file">
                            <div class="dZUpload dz-clickable" id="dZUpload">
                              <div class="dz-default dz-message">Выберите файл
                                <div class="dz-icon"><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.856237 8.7963C0.38055 8.7963 9.53674e-07 9.16667 9.53674e-07 9.62963V14.1667C9.53674e-07 14.6296 0.38055 15 0.856237 15H14.1121C14.5877 15 15 14.6296 15 14.1667V9.62963C15 9.16667 14.5877 8.7963 14.1121 8.7963C13.6364 8.7963 13.2558 9.16667 13.2558 9.62963V13.3025H1.71247V9.62963C1.71247 9.16667 1.33192 8.7963 0.856237 8.7963Z" fill="#0000FF"/>
<path d="M8.08667 10.679L11.575 7.28395C11.9239 6.94444 11.9239 6.45062 11.575 6.11111C11.2262 5.77161 10.7188 5.77161 10.37 6.11111L8.34037 8.05556V0.833333C8.34037 0.37037 7.95982 0 7.48413 0C7.00845 0 6.6279 0.37037 6.6279 0.833333V8.05556L4.63001 6.11111C4.28117 5.77161 3.74206 5.77161 3.39322 6.11111C3.04439 6.45062 3.04439 6.94444 3.39322 7.28395L6.8816 10.679C7.04016 10.8333 7.26215 10.9259 7.48413 10.9259C7.70612 10.9259 7.92811 10.8333 8.08667 10.679Z" fill="#0000FF"/>
</svg>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--input(type="text" placeholder='Прикрепить файл:' name='fileupload').c-form__input-field.c-form__input-field--half-->
                        </div>
                      </div>
                      <div class="c-form__line">
                        <div class="c-form__input">
                          <input class="c-form__input-field" type="text" name="message" id="orderMessage">
                          <label class="c-form__input-label" for="orderMessage"><span class="c-form__input-label-content">Опишите свой вопрос</span></label>
                        </div>
                      </div>
                      <div class="c-form__bottom">
                        <!--div.c-form__bottom-half
                        input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                        label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                        --><a class="btn btn--arrow c-form__link" type="submit" role="button">Отправить<span class="arrow_icon"><svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span></a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__copyright">
              ©Deus. 2018 <br/>
              Made in Russia with Love.
            </div>
            <div class="welcome__right-block footer__right-block--one"><a class="link footer__download" href="assets/files/presentation.pdf">Скачать презентацию</a></div>
          </div>
        </div>
      </footer>
      <!--div.popup#callbackPopup-->
      <!--	div.popup__container-->
      <!--		div.popup__closer-->
      <!--		div.popup__title-->
      <!--			div.s-title хотите работать с нами?-->
      <!--		div.popup__c-form-->
      <!--			div.c-form.c-form--grey-->
      <!--				form.c-form__form#callback-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL-->
      <!--						input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME-->
      <!--					div.c-form__line-->
      <!--						textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea-->
      <!--					div.c-form__bottom-->
      <!--						div.c-form__bottom-half-->
      <!--							input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX-->
      <!--							label(for="check_2").c-form__label Согласен на обработку персональных данных-->
      <!--						div.c-form__link-->
      <!--							button(type='submit').link.link--bold.link--arrowed Отправить-->
      <div class="popup popup--result" id="result">
        <div class="popup__container">
          <div class="popup__closer"></div>
          <div class="popup__title">
            <div class="s-title">ваше сообщение отправлено</div>
          </div>
          <div class="popup__result">Спасибо за интерес, проявленный к нашей компании.<br/>  В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/mobile-detect.min.js"></script>
    <script src="assets/js/lib/iphone-inline-video.min.js"></script>
    <script src="assets/js/lib/jquery.splitlines.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/lib/smooth-scroll.min.js"></script>
    <script src="assets/js/lib/smooth-scrollbar.min.js"></script>
    <script src="assets/js/lib/ScrollMagic.min.js"></script>
    <script src="assets/js/lib/jquery.ScrollMagic.min.js"></script>
    <script src="assets/js/lib/validate.js"></script>
    <script src="assets/js/lib/mask.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <!--script(src='assets/js/lib/wow.js')-->
    <script src="assets/js/lib/dropzone.min.js"></script>
    <script src="assets/js/lib/jquery.countimator.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
