local/templates/main/tpl/dist/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Контакты</title>
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/fancybox.css">
    <link rel="stylesheet" href="assets/css/lib/lightbox.css">
    <link rel="stylesheet" href="assets/css/lib/mcustomscrollbar.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
    <link rel="stylesheet" href="assets/css/lib/dropzone.css">
    <link rel="stylesheet" href="assets/css/lib/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/lib/swiper.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <!-- script(src='assets/js/lib/pace.min.js')-->
  </head>
  <body class="-loading -hide-footer -page-contacts">
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__row">
            <div class="header__logo"><a class="link animated-logo" href="index.html"><span class="animated-word">d</span><span class="animated-word">e</span><span class="animated-word">u</span><span class="animated-word">s</span></a></div>
            <div class="header__links">
              <nav class="header__nav"><a class="link header__nav-link ajax-load" href="works.html">Кейсы</a><a class="link header__nav-link ajax-load" href="about.html">О нас</a><a class="link header__nav-link ajax-load" href="about.html#services">Услуги</a><a class="link header__nav-link ajax-load" href="contacts.html">Контакты</a></nav>
              <div class="header__phone header__button"><a class="link header__nav-link" href="tel:+74951034351">+7 495 103 43 51</a></div>
              <div class="header__socials"><a class="header__soc-link" href="#">Facebook</a><a class="header__soc-link" href="#">Behance</a></div><a class="header__download" href="#">Скачать презентацию</a>
              <div class="header__copyright">
                ©Deus. 2018 <br/>
                Made in Russia with Love.
              </div>
            </div>
            <div class="header__burger">
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="welcome contacts-page">
            <div class="contact-list">
              <div class="contact__item">
                <h2 class="contact__name">Поздороваться</h2>
                <div class="contact__text">Если у Вас есть интересный проект, или необходимо консультация напишите</div>
                <div class="contact__links"><a class="link contact__link" href="#">info<span class="color-accent">@</span>de-us.ru</a></div>
              </div>
              <div class="contact__item">
                <h2 class="contact__name">Следите</h2>
                <div class="contact__text">Быть в курсе о наших новых работах. Поддержите лайком! :)</div>
                <div class="contact__links"><a class="link contact__link" href="#">Facebook</a><a class="link contact__link" href="#">Behance</a></div>
              </div>
              <div class="contact__item">
                <h2 class="contact__name">Заскочи в офис</h2>
                <div class="contact__text">Если у Вас есть интересный проект, или необходимо консультация напишите</div>
                <div class="contact__links"><a class="link contact__link" href="tel:#">+7 495 103 43 51</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__copyright">
              ©Deus. 2018 <br/>
              Made in Russia with Love.
            </div>
            <div class="welcome__right-block footer__right-block--one"><a class="link footer__download" href="assets/files/presentation.pdf">Скачать презентацию</a></div>
          </div>
        </div>
      </footer>
      <!--div.popup#callbackPopup-->
      <!--	div.popup__container-->
      <!--		div.popup__closer-->
      <!--		div.popup__title-->
      <!--			div.s-title хотите работать с нами?-->
      <!--		div.popup__c-form-->
      <!--			div.c-form.c-form--grey-->
      <!--				form.c-form__form#callback-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL-->
      <!--						input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME-->
      <!--					div.c-form__line-->
      <!--						textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea-->
      <!--					div.c-form__bottom-->
      <!--						div.c-form__bottom-half-->
      <!--							input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX-->
      <!--							label(for="check_2").c-form__label Согласен на обработку персональных данных-->
      <!--						div.c-form__link-->
      <!--							button(type='submit').link.link--bold.link--arrowed Отправить-->
      <div class="popup popup--result" id="result">
        <div class="popup__container">
          <div class="popup__closer"></div>
          <div class="popup__title">
            <div class="s-title">ваше сообщение отправлено</div>
          </div>
          <div class="popup__result">Спасибо за интерес, проявленный к нашей компании.<br/>  В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/mobile-detect.min.js"></script>
    <script src="assets/js/lib/iphone-inline-video.min.js"></script>
    <script src="assets/js/lib/jquery.splitlines.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/lib/smooth-scroll.min.js"></script>
    <script src="assets/js/lib/smooth-scrollbar.min.js"></script>
    <script src="assets/js/lib/ScrollMagic.min.js"></script>
    <script src="assets/js/lib/jquery.ScrollMagic.min.js"></script>
    <script src="assets/js/lib/validate.js"></script>
    <script src="assets/js/lib/mask.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <!--script(src='assets/js/lib/wow.js')-->
    <script src="assets/js/lib/dropzone.min.js"></script>
    <script src="assets/js/lib/jquery.countimator.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/contacts.pug
extends layout

block vars
    - var bodyClass = '-page-contacts'

block title
    title Контакты

block header
    include blocks/header

block content
    div.container
        div.welcome.contacts-page
            div.contact-list
                div.contact__item
                    h2.contact__name Поздороваться
                    div.contact__text Если у Вас есть интересный проект, или необходимо консультация напишите
                    div.contact__links
                        a(href="#").link.contact__link
                            | info
                            span.color-accent @
                            | de-us.ru
                div.contact__item
                    h2.contact__name Следите
                    div.contact__text Быть в курсе о наших новых работах. Поддержите лайком! :)
                    div.contact__links
                        a(href="#").link.contact__link Facebook
                        a(href="#").link.contact__link Behance
                div.contact__item
                    h2.contact__name Заскочи в офис
                    div.contact__text Если у Вас есть интересный проект, или необходимо консультация напишите
                    div.contact__links
                        a(href="tel:#").link.contact__link +7 495 103 43 51

block footer
    include blocks/footer
