local/templates/main/tpl/dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/fancybox.css">
    <link rel="stylesheet" href="assets/css/lib/lightbox.css">
    <link rel="stylesheet" href="assets/css/lib/mcustomscrollbar.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
    <link rel="stylesheet" href="assets/css/lib/dropzone.css">
    <link rel="stylesheet" href="assets/css/lib/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/lib/swiper.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <!-- script(src='assets/js/lib/pace.min.js')-->
  </head>
  <body class="-loading -hide-footer -page-home">
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__row">
            <div class="header__logo"><a class="link animated-logo" href="index.html"><span class="animated-word">d</span><span class="animated-word">e</span><span class="animated-word">u</span><span class="animated-word">s</span></a></div>
            <div class="header__links">
              <nav class="header__nav"><a class="link header__nav-link ajax-load" href="works.html">Кейсы</a><a class="link header__nav-link ajax-load" href="about.html">О нас</a><a class="link header__nav-link ajax-load" href="about.html#services">Услуги</a><a class="link header__nav-link ajax-load" href="contacts.html">Контакты</a></nav>
              <div class="header__phone header__button"><a class="link header__nav-link" href="tel:+74951034351">+7 495 103 43 51</a></div>
              <div class="header__socials"><a class="header__soc-link" href="#">Facebook</a><a class="header__soc-link" href="#">Behance</a></div><a class="header__download" href="#">Скачать презентацию</a>
              <div class="header__copyright">
                ©Deus. 2018 <br/>
                Made in Russia with Love.
              </div>
            </div>
            <div class="header__burger">
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="welcome">
            <div class="welcome__inner-wrapper">
              <div class="welcome__inner">
                <h1 class="welcome__text">Интерактивное агентство</h1>
                <p class="welcome__header-p">
                  Мы занимаемся дизайном цифровых интерфейсов,<br> разработкой и поддержкой сайтов</p><a class="btn btn--arrow welcome__btn" href="about.html" role="button">Связаться с нами<span class="arrow_icon"><svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span></a>
              </div>
            </div>
            <div class="welcome__right-block index__right-block content-video">
              <div class="welcome__bg" style="background-image: url(assets/images/content/video.jpg)"></div>
              <div class="welcome__filter"></div>
              <video class="welcome__video" autoplay muted loop>
                <source src="assets/files/video/video4.mp4" type="video/mp4; codecs=avc1.42E01E, mp4a.40.2">
                <source src="assets/files/video/video4.webm" type="video/mp4; codecs=vp8,vorbis">
              </video>
            </div>
          </div>
          <div class="welcome__works" id="works">
            <ul class="ww__items">
              <li class="ww__item">
                <div class="welcome__inner-wrapper">
                  <div class="welcome__inner">
                    <div class="ww__pages"><span class="ww__page-cur">01</span>/<span class="ww__page-all">03</span></div><a class="ww__link" href="#">Спортивный фитнес журнал Crossfit.ru</a>
                    <p class="ww__title">Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений</p>
                  </div>
                </div>
                <div class="welcome__right-block index__right-block">
                  <figure class="ww__pic"><img src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer"></figure>
                </div>
              </li>
              <li class="ww__item">
                <div class="welcome__inner-wrapper">
                  <div class="welcome__inner">
                    <div class="ww__pages"><span class="ww__page-cur">02</span>/<span class="ww__page-all">03</span></div><a class="ww__link" href="#">Крутые займы с кредит каром</a>
                    <p class="ww__title">Мы будем рады предложить создать успешный проект или стартап.</p>
                  </div>
                </div>
                <div class="welcome__right-block index__right-block">
                  <figure class="ww__pic"><img src="assets/images/content/ww_items/carom.png" alt="Karom" data-color="#ababb3" style="cursor: pointer"></figure>
                </div>
              </li>
              <li class="ww__item">
                <div class="welcome__inner-wrapper">
                  <div class="welcome__inner">
                    <div class="ww__pages"><span class="ww__page-cur">03</span>/<span class="ww__page-all">03</span></div><a class="ww__link" href="#">Спортивный фитнес журнал Crossfit.ru</a>
                    <p class="ww__title">Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений</p>
                  </div>
                </div>
                <div class="welcome__right-block index__right-block">
                  <figure class="ww__pic"><img src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer"></figure>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <footer class="footer footer--main footer--fixed">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__projects"><a class="footer__projects-link scroll link" href="#works">Смотреть проекты<span class="footer__projects-anim"></span></a></div>
            <div class="welcome__right-block footer__right-block">
              <div class="footer__links"><a class="footer__link" href="https://facebook.com">Facebook</a><a class="footer__link" href="https://facebook.com">Behance</a></div><a class="footer__download link" href="assets/files/presentation.pdf">Скачать презентацию</a>
            </div>
          </div>
        </div>
      </footer>
      <!--div.popup#callbackPopup-->
      <!--	div.popup__container-->
      <!--		div.popup__closer-->
      <!--		div.popup__title-->
      <!--			div.s-title хотите работать с нами?-->
      <!--		div.popup__c-form-->
      <!--			div.c-form.c-form--grey-->
      <!--				form.c-form__form#callback-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL-->
      <!--						input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME-->
      <!--					div.c-form__line-->
      <!--						textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea-->
      <!--					div.c-form__bottom-->
      <!--						div.c-form__bottom-half-->
      <!--							input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX-->
      <!--							label(for="check_2").c-form__label Согласен на обработку персональных данных-->
      <!--						div.c-form__link-->
      <!--							button(type='submit').link.link--bold.link--arrowed Отправить-->
      <div class="popup popup--result" id="result">
        <div class="popup__container">
          <div class="popup__closer"></div>
          <div class="popup__title">
            <div class="s-title">ваше сообщение отправлено</div>
          </div>
          <div class="popup__result">Спасибо за интерес, проявленный к нашей компании.<br/>  В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/mobile-detect.min.js"></script>
    <script src="assets/js/lib/iphone-inline-video.min.js"></script>
    <script src="assets/js/lib/jquery.splitlines.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/lib/smooth-scroll.min.js"></script>
    <script src="assets/js/lib/smooth-scrollbar.min.js"></script>
    <script src="assets/js/lib/ScrollMagic.min.js"></script>
    <script src="assets/js/lib/jquery.ScrollMagic.min.js"></script>
    <script src="assets/js/lib/validate.js"></script>
    <script src="assets/js/lib/mask.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <!--script(src='assets/js/lib/wow.js')-->
    <script src="assets/js/lib/dropzone.min.js"></script>
    <script src="assets/js/lib/jquery.countimator.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/index.pug
extends layout

block vars
    - var bodyClass = '-page-home'

block title
    title Главная

block header
    include blocks/header

block content
    div.container
        div.welcome
            div.welcome__inner-wrapper
                div.welcome__inner
                    h1.welcome__text Интерактивное агентство
                    p.welcome__header-p Мы занимаемся дизайном цифровых интерфейсов,
                        | <br> разработкой и поддержкой сайтов
                    a(href="about.html" role="button").btn.btn--arrow.welcome__btn Связаться с нами
                        span.arrow_icon
                            <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 12L6 6.92187L1 1.84375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            div.welcome__right-block.index__right-block.content-video
                div.welcome__bg(style="background-image: url(assets/images/content/video.jpg)")
                div.welcome__filter
                video.welcome__video(autoplay muted loop)
                    source(src="assets/files/video/video4.mp4" type='video/mp4; codecs=avc1.42E01E, mp4a.40.2')
                    source(src="assets/files/video/video4.webm" type='video/mp4; codecs=vp8,vorbis')
        div.welcome__works#works
            ul.ww__items
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 01
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Спортивный фитнес журнал Crossfit.ru
                            p.ww__title Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer")
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 02
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Крутые займы с кредит каром
                            p.ww__title Мы будем рады предложить создать успешный проект или стартап.
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/carom.png" alt="Karom" data-color="#ababb3" style="cursor: pointer")
                li.ww__item
                    div.welcome__inner-wrapper
                        div.welcome__inner
                            div.ww__pages
                                span.ww__page-cur 03
                                | /
                                span.ww__page-all 03
                            a.ww__link(href="#") Спортивный фитнес журнал Crossfit.ru
                            p.ww__title Наш приоритет в работе – выстраивание доверительных отношений с заказчиками, поиск и реализация оправданных решений
                    div.welcome__right-block.index__right-block
                        figure.ww__pic
                            img(src="assets/images/content/ww_items/crossfit.png" alt="Crossfit" data-color="#ababb3" style="cursor: pointer")

block footer
    include blocks/footer-main
