local/templates/main/tpl/src/templates/layout.pug
doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible",content="IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title default title


        link(rel='stylesheet', href='assets/css/lib/animate.css')
        link(rel='stylesheet', href='assets/css/lib/fancybox.css')
        link(rel='stylesheet', href='assets/css/lib/lightbox.css')
        link(rel='stylesheet', href='assets/css/lib/mcustomscrollbar.css')
        link(rel='stylesheet', href='assets/css/lib/owl.carousel.css')
        link(rel='stylesheet', href='assets/css/lib/youtube.css')
        link(rel='stylesheet', href='assets/css/lib/dropzone.css')
        link(rel='stylesheet', href='assets/css/lib/odometer-theme-default.css')
        link(rel='stylesheet', href='assets/css/lib/swiper.min.css')
        link(rel='stylesheet', href='assets/css/main.css')
        link(rel='stylesheet', href='assets/css/media.css')
        // script(src='assets/js/lib/pace.min.js')

    - var bodyClass = '';
    - var pageClass = 'page';
    block vars
    body(class='-loading -hide-footer ' + bodyClass)

        div(class=pageClass)
            block header
            div.content
                block content

            block footer
            include blocks/popups


        script(src='assets/js/lib/jquery-3.1.1.min.js')

        script(src='assets/js/lib/mobile-detect.min.js')
        script(src='assets/js/lib/iphone-inline-video.min.js')
        script(src='assets/js/lib/jquery.splitlines.js')
        script(src='assets/js/lib/jquery.mCustomScrollbar.js')
        script(src='assets/js/lib/smooth-scroll.min.js')
        script(src='assets/js/lib/smooth-scrollbar.min.js')
        script(src='assets/js/lib/ScrollMagic.min.js')
        script(src='assets/js/lib/jquery.ScrollMagic.min.js')
        script(src='assets/js/lib/validate.js')
        script(src='assets/js/lib/mask.js')
        script(src='assets/js/lib/youtube.js')
        script(src='assets/js/lib/owl.carousel.min.js')
        script(src='assets/js/lib/swiper.min.js')
        //script(src='assets/js/lib/wow.js')
        script(src='assets/js/lib/dropzone.min.js')
        script(src='assets/js/lib/jquery.countimator.min.js')


        script(src='assets/js/main.js')

local/templates/main/tpl/dist/layout.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>default title</title>
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/fancybox.css">
    <link rel="stylesheet" href="assets/css/lib/lightbox.css">
    <link rel="stylesheet" href="assets/css/lib/mcustomscrollbar.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
    <link rel="stylesheet" href="assets/css/lib/dropzone.css">
    <link rel="stylesheet" href="assets/css/lib/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/lib/swiper.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <!-- script(src='assets/js/lib/pace.min.js')-->
  </head>
  <body class="-loading -hide-footer ">
    <div class="page">
      <div class="content">
      </div>
      <!--div.popup#callbackPopup-->
      <!--	div.popup__container-->
      <!--		div.popup__closer-->
      <!--		div.popup__title-->
      <!--			div.s-title хотите работать с нами?-->
      <!--		div.popup__c-form-->
      <!--			div.c-form.c-form--grey-->
      <!--				form.c-form__form#callback-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL-->
      <!--						input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME-->
      <!--					div.c-form__line-->
      <!--						textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea-->
      <!--					div.c-form__bottom-->
      <!--						div.c-form__bottom-half-->
      <!--							input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX-->
      <!--							label(for="check_2").c-form__label Согласен на обработку персональных данных-->
      <!--						div.c-form__link-->
      <!--							button(type='submit').link.link--bold.link--arrowed Отправить-->
      <div class="popup popup--result" id="result">
        <div class="popup__container">
          <div class="popup__closer"></div>
          <div class="popup__title">
            <div class="s-title">ваше сообщение отправлено</div>
          </div>
          <div class="popup__result">Спасибо за интерес, проявленный к нашей компании.<br/>  В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/mobile-detect.min.js"></script>
    <script src="assets/js/lib/iphone-inline-video.min.js"></script>
    <script src="assets/js/lib/jquery.splitlines.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/lib/smooth-scroll.min.js"></script>
    <script src="assets/js/lib/smooth-scrollbar.min.js"></script>
    <script src="assets/js/lib/ScrollMagic.min.js"></script>
    <script src="assets/js/lib/jquery.ScrollMagic.min.js"></script>
    <script src="assets/js/lib/validate.js"></script>
    <script src="assets/js/lib/mask.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <!--script(src='assets/js/lib/wow.js')-->
    <script src="assets/js/lib/dropzone.min.js"></script>
    <script src="assets/js/lib/jquery.countimator.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
