local/templates/main/tpl/dist/works.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible&quot;,content=&quot;IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="assets/css/lib/animate.css">
    <link rel="stylesheet" href="assets/css/lib/fancybox.css">
    <link rel="stylesheet" href="assets/css/lib/lightbox.css">
    <link rel="stylesheet" href="assets/css/lib/mcustomscrollbar.css">
    <link rel="stylesheet" href="assets/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/lib/youtube.css">
    <link rel="stylesheet" href="assets/css/lib/dropzone.css">
    <link rel="stylesheet" href="assets/css/lib/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/lib/swiper.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <!-- script(src='assets/js/lib/pace.min.js')-->
  </head>
  <body class="-loading -hide-footer -page-works">
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="header__row">
            <div class="header__logo"><a class="link animated-logo" href="index.html"><span class="animated-word">d</span><span class="animated-word">e</span><span class="animated-word">u</span><span class="animated-word">s</span></a></div>
            <div class="header__links">
              <nav class="header__nav"><a class="link header__nav-link ajax-load" href="works.html">Кейсы</a><a class="link header__nav-link ajax-load" href="about.html">О нас</a><a class="link header__nav-link ajax-load" href="about.html#services">Услуги</a><a class="link header__nav-link ajax-load" href="contacts.html">Контакты</a></nav>
              <div class="header__phone header__button"><a class="link header__nav-link" href="tel:+74951034351">+7 495 103 43 51</a></div>
              <div class="header__socials"><a class="header__soc-link" href="#">Facebook</a><a class="header__soc-link" href="#">Behance</a></div><a class="header__download" href="#">Скачать презентацию</a>
              <div class="header__copyright">
                ©Deus. 2018 <br/>
                Made in Russia with Love.
              </div>
            </div>
            <div class="header__burger">
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
              <div class="header__burger-line"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="preloader">
        <div class="preloader__container">
          <div class="preloader__line preloader-line -loading"></div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="works-page">
            <div class="works__sect-wrapper">
              <nav class="works__sections fixed__menu"><a class="link works__section link works__section--active" href="/works">Все</a><a class="link works__section" href="#">Frontend</a><a class="link works__section" href="#">Backend</a><a class="link works__section" href="#">Design</a><a class="link works__section" href="#">Mobile</a><a class="link works__section" href="#">Support</a><a class="link works__section" href="#">Marketing</a></nav>
              <div class="works__links-bg"></div>
            </div>
            <div class="works__list">
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work1.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">Design,</a><a class="works__tag" href="#">Frontend,</a><a class="works__tag" href="#">Backend,</a><a class="works__tag" href="#">Support</a></div><a class="link link--medium works__name" href="#">Спортивный фитнес журнал CrossFit.ru</a>
              </div>
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work2.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">Design</a></div><a class="link link--medium works__name" href="#">Разработка промо сайта Direct Credit</a>
              </div>
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work3.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">UI/UX,<a class="works__tag" href="#">Support</a></a></div><a class="link link--medium works__name" href="#">Сайт банку Кубань кредит</a>
              </div>
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work4.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">Design,</a><a class="works__tag" href="#">Frontend,</a><a class="works__tag" href="#">Backend,</a><a class="works__tag" href="#">Support</a></div><a class="link link--medium works__name" href="#">Design, Mobile</a>
              </div>
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work5.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">Design,</a><a class="works__tag" href="#">Frontend,</a><a class="works__tag" href="#">Backend</a></div><a class="link link--medium works__name" href="#">Разработка сайта для Credeo</a>
              </div>
              <div class="works__item"><a class="works__image-link" href="#">
                  <div class="works__image" style="background-image: url('assets/images/content/work6.png')"></div></a>
                <div class="works__tags"><a class="works__tag" href="#">Design,</a><a class="works__tag" href="#">Frontend,</a><a class="works__tag" href="#">Backend</a></div><a class="link link--medium works__name" href="#">Ответственный Водитель</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__copyright">
              ©Deus. 2018 <br/>
              Made in Russia with Love.
            </div>
            <div class="welcome__right-block footer__right-block--one"><a class="link footer__download" href="assets/files/presentation.pdf">Скачать презентацию</a></div>
          </div>
        </div>
      </footer>
      <!--div.popup#callbackPopup-->
      <!--	div.popup__container-->
      <!--		div.popup__closer-->
      <!--		div.popup__title-->
      <!--			div.s-title хотите работать с нами?-->
      <!--		div.popup__c-form-->
      <!--			div.c-form.c-form--grey-->
      <!--				form.c-form__form#callback-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='E-mail' name='mail').c-form__input.c-form__input--half.validate__EMAIL-->
      <!--						input(type="text" placeholder='Телефон' name='phone').c-form__input.c-form__input--half.phone.validate__PHONE-->
      <!--					div.c-form__line-->
      <!--						input(type="text" placeholder='Имя' name='name').c-form__input.validate__NAME-->
      <!--					div.c-form__line-->
      <!--						textarea(placeholder='Что бы вы хотели?' name='placeholder').c-form__textarea-->
      <!--					div.c-form__bottom-->
      <!--						div.c-form__bottom-half-->
      <!--							input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX-->
      <!--							label(for="check_2").c-form__label Согласен на обработку персональных данных-->
      <!--						div.c-form__link-->
      <!--							button(type='submit').link.link--bold.link--arrowed Отправить-->
      <div class="popup popup--result" id="result">
        <div class="popup__container">
          <div class="popup__closer"></div>
          <div class="popup__title">
            <div class="s-title">ваше сообщение отправлено</div>
          </div>
          <div class="popup__result">Спасибо за интерес, проявленный к нашей компании.<br/>  В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
    <script src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script src="assets/js/lib/mobile-detect.min.js"></script>
    <script src="assets/js/lib/iphone-inline-video.min.js"></script>
    <script src="assets/js/lib/jquery.splitlines.js"></script>
    <script src="assets/js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="assets/js/lib/smooth-scroll.min.js"></script>
    <script src="assets/js/lib/smooth-scrollbar.min.js"></script>
    <script src="assets/js/lib/ScrollMagic.min.js"></script>
    <script src="assets/js/lib/jquery.ScrollMagic.min.js"></script>
    <script src="assets/js/lib/validate.js"></script>
    <script src="assets/js/lib/mask.js"></script>
    <script src="assets/js/lib/youtube.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/swiper.min.js"></script>
    <!--script(src='assets/js/lib/wow.js')-->
    <script src="assets/js/lib/dropzone.min.js"></script>
    <script src="assets/js/lib/jquery.countimator.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/works.pug
extends layout

block vars
    - var bodyClass = '-page-works'

block title
    title

block header
    include blocks/header

block content
    div.container
        div.works-page
            div.works__sect-wrapper
                nav.works__sections.fixed__menu
                    a(href="/works").link.works__section.link.works__section--active Все
                    a(href="#").link.works__section Frontend
                    a(href="#").link.works__section Backend
                    a(href="#").link.works__section Design
                    a(href="#").link.works__section Mobile
                    a(href="#").link.works__section Support
                    a(href="#").link.works__section Marketing
                div.works__links-bg
            div.works__list
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work1.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend,
                        a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Спортивный фитнес журнал CrossFit.ru
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work2.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design
                    a(href="#").link.link--medium.works__name Разработка промо сайта Direct Credit
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work3.png')").works__image
                    div.works__tags
                        a(href="#").works__tag UI/UX,
                            a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Сайт банку Кубань кредит
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work4.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend,
                        a(href="#").works__tag Support
                    a(href="#").link.link--medium.works__name Design, Mobile
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work5.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend
                    a(href="#").link.link--medium.works__name Разработка сайта для Credeo
                div.works__item
                    a(href="#").works__image-link
                        div(style="background-image: url('assets/images/content/work6.png')").works__image
                    div.works__tags
                        a(href="#").works__tag Design,
                        a(href="#").works__tag Frontend,
                        a(href="#").works__tag Backend
                    a(href="#").link.link--medium.works__name Ответственный Водитель

block footer
    include blocks/footer
